<body>
<section class="contenedor-3 section-3">
  <div class="banner">
   <img src="images/contactos.jpg" alt="">
  </div>
  <div class="form-container">
    <h3 class="title-form">Envianos un mensaje</h3>
    <form action="" class="form-contactos">
      <input type="text" class="box item1" placeholder="Apellido y Nombre">
      <input type="tel" class="box item2" placeholder="Telefono">
      <input type="email" class="box item3" placeholder="Correo electronico">
      <textarea name="" id="" class="box item4" cols="30" rows="6" placeholder="Mensaje"></textarea>
      <button type="submit" class="btn-secondary ">Enviar</button>
    </form>
  </div>
    
  </section>
  
    
</body>