
<div>
    <div id="home" class="row align-items-center hero">
      <div>
        <h1 class="titulo-pasteleria">Pastelería Artesanal</h1>
        <p class="pasteleria">
          Productos personalizados, elaborados artesanalmente y de forma
          casera sin conservantes ni aditivos, hechos a mano y decorados uno
          por uno con mucho amor.
        </p>
      </div>
    </div>
  </div>
</div>
    <div class="row my-3">
      <div id="productos" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2 class="titulo-productos">Productos</h2>
        <div class="lista-productos">
          <div class="row row-cols-2">
            <div class="col"> <a href="#"><img src="images/macarrones.webp" />Macarons</a></div>
            <div class="col"><a href="#"><img src="images/tortas.webp" />Tortas</a></div>
            <div class="col"><a href="#"><img src="images/minis-tortas.webp" />Mini Tortas</a></div>
            <div class="col"><a href="#"><img src="images/box.webp" />Box regalos</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="rounded py-5 opiniones">
          <h2 class="text-center titulo-opiniones">Opiniones</h2>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="opinion">
                  <h5>Los mejores macarrones!</h5>
                  <p>Mayra, Reconquista</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="opinion">
                  <h5>Súper artesanales</h5>
                  <p>Romina, Santa Fe</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="opinion">
                  <h5>Compré la box, bellisima para regalar</h5>
                  <p>Monica, Bs As</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--fin testimonio-->
    </div>
    <!--cierre todo-->
    
  
 

