
<div>
    <div id="home" class="row align-items-center hero">
      <div>
        <h1 class="titulo-pasteleria">Pastelería Artesanal</h1>
        <p class="pasteleria">
          Productos personalizados, elaborados artesanalmente y de forma
          casera sin conservantes ni aditivos, hechos a mano y decorados uno
          por uno con mucho amor.
        </p>
      </div>
    </div>
  </div>

    <section class="contenedor-1">
    
      <div id="productos" class="titulo">
        <h2>Nuestros Productos</h2>
        <p>Productos de primera calidad y sabor único en nuestra tienda online.</p>
      </div>
       
        <div class="fotos-productos">
          <div class="productos-img">
            <img src="images/macarons.jpg" alt="">
            <h3>Macarons</h3>
            <p> Crocantes por fuera y súper cremosos por dentro</p>
          </div>
          <div class="productos-img">
            <img src="images/torta.jpg" alt="">
            <h3>Tortas</h3>
            <p>Endulza tus momentos</p>
          </div>
          <div class="productos-img">
            <img src="images/minitarta.jpg" alt="">
            <h3>Mini Tartas</h3>
            <p> Con distintos colores y rellenos.</p>
          </div>
        </div>
    </section>

    <section class="contenedor-2">
      <h3 class="section-2-title">De nosotros lo mejor para vos</h3>
      <div class="galery">
        <div class="galery-content">
          <img src="images/galeria1.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria2.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria3.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria5.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria4.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria6.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria8.jpg" alt="">
        </div>
        <div class="galery-content">
          <img src="images/galeria7.jpg" alt="">
        </div>

      </div>
    </section>
    
    
  
 

