<body>
  
  <div class="container-fluid">
    <div id="nosotros" class="visble-when-content-ready user-content" >
        <img src="images/tienda.jpg" alt="negocio1" class="img">
        <p>Hola!</p>
        <p>Somos un emprendimiento que tiene como misi칩n hacer m치s dulce la vida de las personas.</p>
        <p>Los encuentros, momentos con amigos y familia son nuestra inspiraci칩n. Por eso nuestro objetivo es que disfruten de comer los mejores productos dulces artesanales dejando una huella para toda la vida.</p>
        <p>Cocinamos con los ingredientes de mejor calidad, amamos los detalles y ponemos mucha pasi칩n en lo que hacemos.</p>
        <p>Te invitamos a descubrir todos los sabores en nuestra tienda online...</p>
    </div>
  </div>

{{{body}}}


</body>
