<body>
  
 <section class="container-section ">
  <h3 class="section-title">Sobre Nosotros</h3>
  <div class="nosotros">
    <div class="nosotros-texto">
      <p class="texto">Somos un emprendimiento que tiene como misi칩n hacer m치s dulce la vida de las personas.</p>
      <p class="texto">Los encuentros, momentos con amigos y familia son nuestra inspiraci칩n. Por eso nuestro objetivo es que disfruten de comer los mejores productos dulces artesanales dejando una huella para toda la vida.</p>
      <p class="texto">Cocinamos con los ingredientes de mejor calidad, amamos los detalles y ponemos mucha pasi칩n en lo que hacemos.Te invitamos a descubrir todos los sabores en nuestra tienda online...</p>
    </div>
    <div class="nosotros-img">
      <div class="imagen1">
      <img src="images/nosotros2.jpg" alt="" class="img1">
      </div>
      <div class="imagen2">
        <img src="images/nosotros1.jpg" alt="" class="img2">
        <img src="images/nosotros3.jpg" alt="" class="img3">
      </div>
    </div>
    
  </div>

 </section>

{{{body}}}


</body>
