/* font-family: 'Alfa Slab One', serif; */


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
  }
  
  *,*::after, *::before{
    box-sizing: inherit;
  }

 .contenido-navegacion{
    background-color: #cbebfb;
 }
  .contendor{
    max-width: 120rem;
    margin:0 auto;
    width: 95%; 
  }

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 50px;
}

.logo h2, .navegacion a{
    color: coral;
}
.logo h2 {
    font-size: 3em;
}

.navegacion a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}
.navegacion{
    margin-right: 50px;
}



section .contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 100px;
    width: 90%;
    height: 90%;
    background-color: #5f5f6e;
    box-shadow: 1px 9px 20px -5px rgb(0, 0, 0, 0, 59);
    border-radius: 30px;
}
section .contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}
section .contactForm .form form{
    width: 100%;
}
section .contactForm .form texto h2{
    color: #1766a3;
    font-size: 2em;
    margin-bottom: 10px;
}
section .contactForm .form texto p{
    color: #0b426c;
    line-height: 1.5;
    margin-bottom: 20px;
}
section .contactForm .form form .input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
section .contactForm .form form .input-box input{
    color: #1766a3;
    font-weight: 700;
}
section .contactForm .form form .input-box input[type="text"],
section .contactForm .form form .input-box input[type="email"]
 {
    border: none;
    background-color: #cbebfb;
    padding: 10px;
    border-radius: 15px;
    color: #1766a3;
    resize: none;
}


section .contactForm .form form .input-box input[type="text"],
section .contactForm .form form .input-box input[type="email"]
 {
    outline: 2px solid #1766a3;
}





.contendor-nosotros{
    display: flex;
}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}