/* font-family: 'Alfa Slab One', serif; */



.navbar{
  background-color: #72695c;
}
.navbar-brand{
  color:#f9d9ac;
}
a.nav-link{
  color:#f9d9ac;
}
.home{
  color:#f9d9ac;
}
.navbar-nav{
  margin-left: 80px;
}
h1, h2{
  font-family: 'Alfa Slab One', serif;
   
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima del viewport */
  margin: 0;
  overflow-y: scroll;

}
.logo a{
  font-size: 15px;
}

.hero{
  background: url(../images/baked-goods-1853261_640.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 600px;
  color:rgb(185, 108, 100);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1{
  margin-bottom: 20px;
}
.pasteleria{
  font-size: 1em;
  text-align:left;
  max-width: 400px;
  margin: 0 10px 0 10px;
}
#productos{
  color:rgb(185, 108, 100);
  margin-right: 10rem;
}
.lista-productos{
  margin: 0;
  padding: 0;
  list-style: none;
}

.lista-productos a{
  background-color: #fff;
  font-family: 'Alfa Slab One', serfi;
  text-decoration: none;
  font-size: 1rem;
  color:mediumorchid;
  transition: all .2s ease-in-out;
  display: block;
}

.lista-productos a img{
  width: 120px;
  height: 70px;
  margin-right: 1rem;
  margin-top: 2rem;
  
}

.opiniones{
  background-color: #dadada;
  padding-bottom: 4rem !important;
  color:rgb(185, 108, 100);
  display: grid;
  place-items: center;
  
}
.opinion{
  text-align: center;
  padding: 50px 20px;
  color:mediumorchid;
}
.user-content p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  max-width: 100% !important;
}

html{
  scroll-behavior: smooth;
}
.scroll_section{
  scroll-margin-top: 50px;
}

section .contactForm{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 100px;
  width: 90%;
  height: 90%;
  background-color: #5f5f6e;
  box-shadow: 1px 9px 20px -5px rgb(0, 0, 0, 0, 59);
  border-radius: 30px;
}
section .contactForm .form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-left: 30px;
}
section .contactForm .form form{
  width: 100%;
}
section .contactForm .form texto h2{
  color: #1766a3;
  font-size: 2em;
  margin-bottom: 10px;
}
section .contactForm .form texto p{
  color: #0b426c;
  line-height: 1.5;
  margin-bottom: 20px;
}
section .contactForm .form form .input-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section .contactForm .form form .input-box input{
  color: #1766a3;
  font-weight: 700;
}
section .contactForm .form form .input-box input[type="text"],
section .contactForm .form form .input-box input[type="email"]
{
  border: none;
  background-color: #cbebfb;
  padding: 10px;
  border-radius: 15px;
  color: #1766a3;
  resize: none;
}


section .contactForm .form form .input-box input[type="text"],
section .contactForm .form form .input-box input[type="email"]
{
  outline: 2px solid #1766a3;
}


.container{
  
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #72695c;
  text-align: center;
  padding: 20px 0;
  margin:auto;
  position: relative; 
  bottom: 0;
}
.footer-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.link{
  width: 300px;
  margin-bottom: 20px;
  
}
.link h3{
  font-size: 18px;
  color: #f9d9ac;
  text-transform: uppercase;
  margin: 0px 0px 20px 0;
  
}
.link a{
  font-size: 17px;
  color: #f9d9ac;
  display: block;
  margin-bottom: 10px;
}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.social a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color:#f9d9ac;
  margin: 0 0 10px 0 ;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color:black;
  font-size: 20px;
}
.social a:hover{
  background-color:#f9d9ac;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box{
  margin-bottom: 15px;
}

input{
  background-color: transparent;
  padding: 14px;
  outline: none;
  border: 2px solid #f9d9ac;
  font-size: 17px;
  margin-bottom: 5px;
}
::placeholder{
  color: #b7b8be;
}
.btn{
  background-color: #f9d9ac;
  color: black;
  border: 2px solid #f9d9ac;
}


.atencion {
  font-size: 15px;
  color:#b7b8be;
}
